.product-image {
  max-width: 150px;
}

.example-card {
  max-width: 250px;
  min-width: 250px;

  .price {
    color: #fff;
    background-color: #ff8383;
  }
}

mat-chip {
  text-transform: capitalize;
}

.example-header-image {
  background-size: cover;
}

.card-container {
  display: flex;
  flex-flow: wrap;
}

.mat-card-content p {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container > div {
  margin-bottom: 15px;
}

.mat-card-title {
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: block;
}

.image-container {
  width: 100%;

  img {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}
